*{
    font-style: italic;
    margin: 0;
}
body{
    background-image: url(back.jpg);
    font-weight: 300;
    position: relative;
    background-size: cover;
    background-position: center;
}
.main{
    position: absolute;
    width: 1000px;
    height: 500px;
    top: 100px;
    left: 200px;
    text-align: center;
    background-position: center;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    overflow: hidden;
}
.player-0{
    float: left;
    width: 50%;
}
.player-1{
    float: right;
    width: 50%
}
.player-name-0{
    color: #ff0000;
    font-size: 50px;
    transform: translateY(70%);
}
.player-name-1{
    color: #ff0000;
    font-size: 50px;
    transform: translateY(70%);
}
.player-0-final{
    color: blue;
    font-size: 60px;
    transform: translateY(80%);
}
.player-1-final{
    color: blue;
    font-size: 60px;
    transform: translateY(80%);
}
.player-0-round{
    font-size: 30px;
    transform: translateY(600%);
}
.player-1-round{
    font-size: 30px;
    transform: translateY(600%);
}
.player-0-score{
    font-size: 40px;
    transform: translateY(500%);
}
.player-1-score{
    font-size: 40px;
    transform: translateY(500%);
}
.active{
    background-color: rgb(180, 180, 180);
    height: 500px;
}
button{
    position: absolute;
    border: none;
    font-size: 25px;
    background: none;
    transform: translateX(-50%);
}
button:hover{
    font-weight: 600;
}
.new-game{ top: 100px; }
.roll{ top: 350px; }
.hold{ top: 425px; }

.active #player-name::after{
    content: "\2022";
    color: #ff0000;
    font-size: 30px;
}
.dice-image{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 200px;
    left: 500px;
    transform: translateX(-50%);
    box-shadow: 0px 10px 10px rgba(0 ,0, 0, 0.3);
}
button:focus{
    outline: none;
}